@font-face {
  font-family: 'YourFontName';
  src: url('..//assets/imgs/WhatnotW00Regular.ttf') format('truetype'); 
 
}


  body {
    margin: 0;
    padding: 0;
    font-family: 'YourFontName';
    background-image: url(..//assets/imgs/6hhetyy8wcu81.jpg);
  }

  .navbar {
    height: 100vh;
    width: 250px;
    background-color: #84474b; /* Cor de fundo da barra lateral */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .brand {
    text-align: center;
    margin-bottom: 20px;
  }

  .brand h2 {
    color: #fff; /* Cor do texto do título */
  }

  .nav-links ul {
    list-style: none;
    padding: 0;
    border: solid 2.5px black;
    border-radius: 5px;
    outline: 2px solid antiquewhite; 
    background-color: rgba(180, 180, 180, 0.1);
    margin-right: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .nav-links a {
    display: block;
    padding: 10px 20px;
    color: #fff; /* Cor do texto dos links */
    text-decoration: none;
  }

  .nav-links a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse sobre os links */
  }

  .content {
    margin-left: 250px; /* Deixe espaço para a barra lateral */
    padding: 20px;
  }

 
  .banner {
    height: 100vh;
    background-image: url('../assets/imgs/6hhetyy8wcu81.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: white;
    text-align: center;
  }

  .banner p span {
    font-weight: 800;
  }


  li img {
    width: 50%;
  }

.banner .container {
  border: solid 3px black;
  padding: 8%;
  border-radius: 15px;
  margin-left: 10%;
  outline: 2px solid antiquewhite; 
    background-color: rgba(180, 180, 180, 0.1);

    width: 40%;
}

.banner .container h1 {
  margin-left: 40px;

}

.banner .container input {
  outline: none;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin-left: 15px;

}

.banner .container button {
  border-radius: 5px;
  border: none;
  margin-left: 80px

}



 